<div class="top-page">
  <div id="background" class="main-bg">
    <div class="tagline">
      <h1>
        <span>Find the room that suits you.</span>
      </h1>
      <h3>'Coz we will give you the best</h3>
    </div>
  </div>
</div>
<div class="featured-content">
  <div><h1>Featured Rooms</h1></div>
  <div class="col-xs-4">
    <a href="/posts/16"><img src="/assets/bg-back.jpg"></a>
    <div class="content-title">
      <h4>Fully Furnished Room</h4>
      <p>₱ 30,000</p>
    </div>
  </div>
  <div class="col-xs-4">
    <a href="/posts/16"><img src="/assets/bg-back.jpg"></a>
    <div class="content-title">
      <h4>Fully Furnished Room</h4>
      <p>₱ 30,000</p>
    </div>
  </div>
  <div class="col-xs-4">
    <a href="/posts/16"><img src="/assets/bg-back.jpg"></a>
    <div class="content-title">
      <h4>Fully Furnished Room</h4>
      <p>₱ 30,000</p>
    </div>
  </div>
  <div class="col-xs-4">
    <a href="/posts/16"><img src="/assets/bg-back.jpg"></a>
    <div class="content-title">
      <h4>Fully Furnished Room</h4>
      <p>₱ 30,000</p>
    </div>
  </div>
  <div class="col-xs-4">
    <a href="/posts/16"><img src="/assets/bg-back.jpg"></a>
    <div class="content-title">
      <h4>Fully Furnished Room</h4>
      <p>₱ 30,000</p>
    </div>
  </div>
  <div class="col-xs-4">
    <a href="/posts/16"><img src="/assets/bg-back.jpg"></a>
    <div class="content-title">
      <h4>Fully Furnished Room</h4>
      <p>₱ 30,000</p>
    </div>
  </div>
</div>
<div class="partners-wrapper">
  <div class="row">
    <div><h1>Our Partners</h1></div>
    <div class="col-xs-3">
      <%=link_to image_tag("airasia-logo.jpg", :border => 0), 'http://www.airasia.com/ph/en/home.page' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("androbogroup-logo.png", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("manila-hotel-logo.jpg", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("richmond-logo.jpg", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("shangri-la-logo.png", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("solaire-logo.png", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("tune-logo.jpg", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <%=link_to image_tag("airasia-logo.jpg", :border => 0), 'http://www.airasia.com/ph/en/home.page' %>
    </div>
  </div>
</div>
<div class="connect-wrapper">
  <div class="row">
    <div><center><h1>CONNECT WITH US!</h1></center></div>
    <div class="col-xs-3">
      <h3>GET THE LATEST</h3>
      <h5>Follow on twitter</h5>
      <%=link_to image_tag("twitter.png", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <h3>KEEP IN TOUCH</h3>
      <h5>Like in facebook</h5>
      <%=link_to image_tag("facebook.png", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <h3>WHAT'S NEW</h3>
      <h5>Connect on Linked in</h5>
      <%=link_to image_tag("linkedin.png", :border => 0), '#' %>
    </div>
    <div class="col-xs-3">
      <h3>CONTACT US</h3>
      <h5>Give us a call</h5>
      <%=link_to image_tag("contact-us.png", :border => 0), '#' %>
    </div>
  </div>
</div>
