<h2>Add New Advertisement</h2>
<%= form_for(@post, :html => { :multipart => true }) do |f| %>
	<div class="post-wrapper">
		<div class="col-xs-6">
			<h3>Basic Information</h3>
			<hr>
			<table class="table-post">
				<tbody>
					<tr>
						<td><%= f.label :floor_area %></td>
						<td><%= f.text_field :floor_area, placeholder: 'ie. 20' %></td>
					</tr>
					<tr>
						<td><%= f.label :furnishing %></td>
						<td><%= f.select(:furnishing, options_for_select([['Fully Furnished', 'Fully Furnished'], ['Semi Furnished', 'Semi Furnished'], ['Unfurnished', 'Unfurnished']]), { include_blank: true }) %></td>
					</tr>
					<tr>
						<td><%= f.label :bedrooms %></td>
						<td><%= f.select(:bedrooms, options_for_select([['Studio', 'Studio'], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10']]), { include_blank: true }) %></td>
					</tr>
					<tr>
						<td><%= f.label :bathrooms %></td>
						<td><%= f.select(:bathrooms, options_for_select([['None', 'None'], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10']]), { include_blank: true }) %></td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="col-xs-6">
			<h3>Rental Rates</h3>
			<hr>
			<table class="table-post">
				<tbody>
					<tr>
						<td><%= f.label :daily_rate %></td>
						<td><%= f.text_field :daily_rate, placeholder: 'ie. 2,000' %></td>
					</tr>
					<tr>
						<td><%= f.label :weekly_rate %></td>
						<td><%= f.text_field :weekly_rate, placeholder: 'ie. 5,000' %></td>
					</tr>
					<tr>
						<td><%= f.label :monthly_rate %></td>
						<td><%= f.text_field :monthly_rate, placeholder: 'ie. 10,000' %></td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="col-xs-12">
			<h3>Location and Address</h3>
			<hr>
			<table class="table-post" id="table-post-local">
				<tbody>
					<tr>
						<td><%= f.label "Name of Building or Village" %></td>
						<td><%= f.text_field :village, placeholder: 'ie. The Residences' %></td>
					</tr>
					<tr>
						<td><%= f.label "Unit Number or House Number" %></td>
						<td><%= f.text_field :unit_number, placeholder: 'ie. 123' %></td>
					</tr>
					<tr>
						<td><%= f.label :floor %></td>
						<td><%= f.text_field :floor, placeholder: 'ie. 12th' %></td>
					</tr>
					<tr>
						<td><%= f.label "Street, Neighborhood & Barangay" %></td>
						<td><%= f.text_field :barangay, placeholder: 'ie. Aquino St. Meralco Village' %></td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="col-xs-12">
			<h3>Title and Description</h3>
			<hr>
			<table class="table-post" id="table-post-title">
				<tbody>
					<tr>
						<td><%= f.label :title %></td>
						<td><%= f.text_field :title, placeholder: 'ie. Fully Furnished Two Bedrooms with Nice View of Sunset' %></td>
					</tr>
					<tr>
						<td><%= f.label :description %></td>
						<td>
							<div><span>Tell us the important details about your unit</span></div>
							<div><%= f.text_area :description, id:'editor' %></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12">
			<%= f.fields_for :post_attachments do |p| %>
			<div class="field">
				<%= p.label :image %> <br>
				<%= p.file_field :image, :multiple => true, name: "post_attachments[image][]" %>
			</div>
			<% end %>
		</div>
		<%= f.submit "Post It Now!", class: "btn btn-primary", id: "btn-add-post" %>
	</div>
<% end %>