<h4><%= @post.title %></h4><hr>
<script type="text/javascript">$(document).ready(function() {
 
  $("#slider").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      slideSpeed : 100,
      paginationSpeed : 400,
      singleItem:true,
      autoPlay:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});
</script>
<div class="show-post-wrapper">
	<div class="col-xs-12">
		<div id="slider" class="col-xs-9">
			<% @post_attachments.each do |image| %>
				<div class="item"><%= image_tag image.image_url.to_s %></div>
			<% end %>
		</div>
		<div class="col-xs-3">
			<%= form_for(@post) do |p| %>
				<table class="table-post">
					<tbody>
						<tr><h4>Contact Seller</h4></tr>
						<tr>
							<td><%= p.label @post.user.first_name %></td>
							<td><%= p.label @post.user.last_name %></td>
							<td><%= p.label @post.daily_rate %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-5">
			<p>
				<b>Property Description</b>
			</p>
			<%= @post.description %>
		</div>
		<div class="col-xs-4">
			<%= form_for(@post) do |f| %>
				<table class="table-post">
					<tbody>
						<tr>
							<td><%= f.label :daily_rate %>:</td>
							<td><%= f.label @post.daily_rate %></td>
						</tr>
						<tr>
							<td><%= f.label :weekly_rate %>:</td>
							<td><%= f.label @post.weekly_rate %></td>
						</tr>
						<tr>
							<td><%= f.label :monthly_rate %>:</td>
							<td><%= f.label @post.monthly_rate %></td>
						</tr>
						<tr>
							<td><%= f.label :village, "Location" %>:</td>
							<td><%= f.label @post.village %></td>
						</tr>
						<tr>
							<td><%= f.label :barangay, "Neighborhood" %>:</td>
							<td><%= f.label @post.barangay %></td>
						</tr>
						<tr>
							<td><%= f.label :floor_area %>:</td>
							<td><%= f.label @post.floor_area %></td>
						</tr>
						<tr>
							<td><%= f.label :bedrooms %>:</td>
							<td><%= f.label @post.bedrooms %></td>
						</tr>
						<tr>
							<td><%= f.label :bathrooms %>:</td>
							<td><%= f.label @post.bathrooms %></td>
						</tr>
						<tr>
							<td><%= f.label :furnishing %>:</td>
							<td><%= f.label @post.furnishing %></td>
						</tr>
						<tr>
							<td><%= f.label :updated_at %>:</td>
							<td><%= f.label @post.updated_at.strftime("%B %d, %Y") %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
	 	</div>
		
	</div>
</div>